/* Base styles */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    
    background-color: #0e1d31;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 25px;
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.intrOCODECAMP {
    font-weight: 800;
    font-size: large;
    color: rgb(181, 20, 213);
    margin-top: 20px;
    transform: translateY(-50px);
    opacity: 0;
    animation: slideAndFadeIn 1s forwards, fadeIn 1s forwards;
    animation-delay: 0.5s;
}

.introwelcome {
    font-weight: 800;
    font-size: 125px;
    color: rgb(255, 114, 62);
    margin-top: -35px;
    transform: translateY(-50px);
    opacity: 0;
    animation: slideAndFadeIn 1s forwards;
    animation-delay: 1s;
    padding-left: 40px;
    margin-bottom: -20px;
}

.introwelcome2 {
    font-weight: 800;
    font-size: 45px;
    color: rgb(255, 114, 62);
    margin-top: 0px;
    margin-left: 45px;
    transform: translateY(-50px);
    opacity: 0;
    animation: slideAndFadeIn 1s forwards;
    animation-delay: 1s;
    padding-left: 40px;
}

.introhello {
    font-size: x-large;
    margin-top: 20px;
    transform: translateY(-50px);
    opacity: 0;
    animation: slideAndFadeIn 1s forwards;
    animation-delay: 1.5s;
    padding-left: 40px;
    color: rgb(255, 255, 255);
}

.intro {
    font-weight: 200;
    font-size: medium;
    opacity: 0;
    animation: slideAndFadeIn 1s forwards;
    animation-delay: 2s;
    padding-left: 40px;
    color: rgb(255, 255, 255);
    text-align: justify;
}

.button {
    border-radius: 50px;
    margin-top: 30px;
    border: none;
    background-color: rgb(244, 121, 60);
    color: white;
    text-align: center;
    font-size: 18px;
    padding: 12px 24px;
    cursor: pointer;
    transform: translateY(50px);
    opacity: 0;
    animation: slideAndFadeIn 1s forwards;
    animation-delay: 2.5s;
    margin-left: 70px;
}

.button:hover {
    filter: brightness(110%);
}

@keyframes slideAndFadeIn {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.container2 {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #0e1d31;
    padding: 10px;
}

/* Media queries */

/* Adjustments for screens smaller than 768px (phones) */
@media screen and (max-width: 906px) {
    .wrapper {
        flex-direction: column;
        align-items: center;
    }

    .introwelcome {
        font-size: 60px;
        margin-top: 10px;
        margin-bottom: 1px;
    }

    .introhello {
        font-size: large;
    }

    .intro,
    .button {
        margin-left: 0;
        font-size: medium;
    }

    .button {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
    }

    .intro {
        text-align: justify;
    }
}

@media screen and (max-width: 1140px) {
    .introwelcome {
        font-size: 60px;
    }
}